@model PL.Models.OpenChatModel
@{
	ViewBag.Title = Model.Chat.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Chat.Name</h2>
<div style="border: black solid 1px">
	@foreach (var msg in Model.ChatMessages)
	{
		<div> @msg.Sender.FullName :@msg.Message</div>

		@*			nejsom prihlaseny*@
		if (msg.Sender.ID==1)
		 {
			 <div>
		  		@Html.ActionLink("Delete", "DeleteMessage", "Chat", new { id = msg.ID }, null)
		  		@Html.ActionLink("Edit", "EditMessage", "Chat", new { id = msg.ID }, null)
			 </div>
		 }
	}
</div>
<div>
	@using (Html.BeginForm("OpenChat", "Chat", FormMethod.Post))
	{
		@Html.HiddenFor(m => m.ChatId)
		@Html.TextAreaFor(m => m.NewChatMessage.Message)
		<input type="submit" name="SendMessage" value="Send" />


	}
</div>


