@using Microsoft.AspNet.Identity
@model PL.Models.OpenChatModel
@{
	ViewBag.Title = Model.Chat.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Chat.Name</h2>
<div class="row">
	<div class="col-md-2" >
		<div style="border: black 1px solid">
			Users
			@{
			Html.RenderPartial("AccountList", Model.Accounts);
			}
		</div>
		<div>
			@Html.ActionLink("Invite People", "Invite", "Request", new {chatId = Model.ChatId}, new {@class = "btn btn-primary"})

		</div>
	</div>
	<div class="col-md-10">
		<div style="border: black solid 1px">
			@foreach (var msg in Model.ChatMessages)
			{
				<div style="border-top: black 1px solid; border-bottom: black 1px solid">
					<div> @msg.Sender.FullName : <span>@msg.Message</span></div>

					<div>
						@if (msg.Sender.ID == int.Parse(User.Identity.GetUserId()))
						{

							@Html.ActionLink("Delete", "DeleteMessage", "Chat", new {id = msg.ID}, null)
							@Html.ActionLink("Edit", "EditMessage", "Chat", new {id = msg.ID}, null)
						}
						<span>Send at </span><span>@msg.Time</span>
					</div>
				</div>


			}
		</div>
		<div>
			@using (Html.BeginForm("OpenChat", "Chat", FormMethod.Post))
			{
				@Html.HiddenFor(m => m.ChatId)
				@Html.TextAreaFor(m => m.NewChatMessage.Message, new {@class = "form-control", style = "display: inline-block"})
				<input type="submit" name="SendMessage" value="Send" style="display: inline-block; margin-top: -66px" class="btn btn-primary"/>
			}
			
			
			<div style="display: inline-block">
				@if (Model.Page > 1)
			{
					<div style="display: inline-block">
						@Html.ActionLink("Previous Page", "OpenChat", "Chat",
						new { id = Model.ChatId, page = Model.Page - 1 }, new { @class = "btn btn-info" })
					</div>
			}
				<div style="display: inline-block">

					@Html.ActionLink("Next Page", "OpenChat", "Chat",
						new { id = Model.ChatId, page = Model.Page + 1 }, new { @class = "btn btn-info" })
				</div>
			</div>
			
		</div>
	</div>
</div>