@model BL.DTO.UserDTOs.AccountDTO

@{
	ViewBag.Title = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>AccountDTO</h4>
	<hr/>
	<dl class="dl-horizontal">

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UserName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UserName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Surname)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Surname)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FullName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FullName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Information)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Information)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DateOfBirth)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DateOfBirth)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(m => m.ID)
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-danger"/> |
			@Html.ActionLink("Back", "EditAccount", "Account")
		</div>
	}
</div>