@model PL.Models.DefaultPageModel
@{
	ViewBag.Title = "FrontPage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top: 15px">

	<div class="col-md-2">
		<div style="border: solid black 1px">
			@{
				Html.RenderPartial("GroupList", Model.Groups);
			}
		</div>
		<div>

			<a href=@Url.Action("Create", "Group")>
				<button type="button" class="btn btn-primary">Create Group</button>
			</a>


		</div>
	</div>


	<div class="col-md-8">
		<div>
			@using (Html.BeginForm("Create", "Post", FormMethod.Post))
			{
				Model.BackPage = "FrontPage";
				@Html.HiddenFor(m => m.BackPage)
				@Html.TextAreaFor(m => m.NewPost.Message, new {@class = "form-control", style = "display:inline-block"})
				<input type="submit" name="SendPost" value="Send" style="display: inline-block; margin-top: -66px"class="btn btn-primary"/>

				@Html.EnumDropDownListFor(x => x.NewPost.PrivacyLevel, "Select Privacy", new {@class = "form-control", style = "width:150px"})
			}
		</div>

		@{
			Html.RenderPartial("PostList", Model);
		}


		<div style="display: inline-block">
			@if (Model.Page > 1)
			{
				<div style="display: inline-block">
					@Html.ActionLink("Previous Page", "FrontPage", "Page",
						new {page = Model.Page - 1}, new {@class = "btn btn-info"})
				</div>
			}
			<div style="display: inline-block">

				@Html.ActionLink("Next Page", "FrontPage", "Page",
					new {page = Model.Page + 1}, new {@class = "btn btn-info"})
			</div>
		</div>

	</div>
</div>