@using PL.Models
@model DefaultPageModel
@{
	ViewBag.Title = Model.Group.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Group.Name</h2>

<div class="row">
	
	<div class="col-md-2" >
		<div>
			Description
			<p>@Model.Group.Description </p>
		</div>
		<div>
			@if (Model.InRelationship)
			{
				using (Html.BeginForm("LeaveGroup", "Group", FormMethod.Post))
				{
					@Html.HiddenFor(m => m.Group.ID)
					<input type="submit" name="LeaveGroup" value="Leave Group" class="btn btn-warning"/>
				}

				<div>
					<a href=@Url.Action("Edit", "Group",new {id=Model.Group.ID} )>
						<button type="button" class="btn btn-default">Edit Group</button>
					</a>
				</div>
			}

		</div>

		<div style="border: black solid 1px;">
			Group Members

			@{
				Html.RenderPartial("AccountList", Model.Accounts);
			}

		</div>

	</div>

	<div class="col-md-10">
		<div>
			@using (Html.BeginForm("Create", "Post", FormMethod.Post))
			{
				Model.BackPage = "GroupPage";
				@Html.HiddenFor(m => m.BackPage)
				@Html.HiddenFor(m => m.Group.ID)
				@Html.TextAreaFor(m => m.NewPost.Message, new {@class = "form-control", style = "display: inline-block" })
				<input type="submit" name="SendPost" value="Send" 
					   style="display: inline-block; margin-top: -28px" class="btn btn-primary">
			}
		</div>

		@{
			Html.RenderPartial("PostList", Model);
//			Html.RenderPartial("Paging",new PageModel {GroupId = Model.Group.ID,Page = Model.Page,PageName = "GroupPage"});
		}
		<div style="display: inline-block">
			@if (Model.Page > 1)
			{
				<div style="display: inline-block">
					<a href=@Url.Action("GroupPage", "Page",new {groupId=Model.Group.ID,page = Model.Page - 1 })>
						<button type="button" class="btn btn-info">Previus Page</button>
					</a>
				</div>
			}
			<div style="display: inline-block">
				<a href=@Url.Action("GroupPage", "Page",new {groupId=Model.Group.ID,page = Model.Page + 1 } )>
					<button type="button" class="btn btn-info">Next Page</button>
				</a>
			</div>
		</div>
		
	</div>
</div>


