@model PL.Models.RequestModel

@{
	ViewBag.Title = "Your Requests";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>YourRequests</h2>
<div>
	@foreach (var req in Model.Requests)
	{
		<div style="border: black solid 1px; display: block; padding: 15px 25px 15px 25px;">
			@if (req.Group == null)
			{
				@Html.ActionLink(req.Sender.FullName, "UserPage", "Page", new {userId = req.Sender.ID}, null)
				<span> added you to friendlist</span>
			}
			else
			{
				@Html.ActionLink(req.Sender.FullName, "UserPage", "Page", new {userId = req.Sender.ID}, null)
				<span> invited you to </span>
				@Html.ActionLink(req.Group.Name, "GroupPage", "Page", new {groupId = req.Group.ID}, null)

				<span>Group</span>
			}
			<div class="row">
				<div class="col-md-1">
					@Html.ActionLink("Accept", "Accept", "Request", new {id = req.ID}, null)

				</div>
				<div class="col-md-1">
					@Html.ActionLink("Reject", "Delete", "Request", new {id = req.ID}, null)

				</div>
			</div>

		</div>
	}
</div>