@model PL.Models.FrontPageModel
@{
	ViewBag.Title = "FrontPage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FrontPage</h2>


<div>
	@using (Html.BeginForm("FrontPage", "User", FormMethod.Post))
	{

		@Html.TextAreaFor(m => m.NewPost.Message)
		//privacy
		<input type="submit" name="SendPost" value="Send" />


	}
</div>

<div>

	@foreach (var postDto in Model.Posts)
	{
		<div style="border: black solid 1px">
			<h3>


				@Html.ActionLink(postDto.Sender.FullName, "UserPage", "User", new { id = postDto.Sender.ID }, null)

				@if (postDto.Group != null)
				{
					<Text> sent to  </Text>

					@Html.ActionLink(postDto.Group.Name, "GroupPage", "Group", new { id = postDto.Group.ID }, null)

				}
			</h3>

			<div> @postDto.Message</div>
			
			@Html.ActionLink("Reactions", "Reactions", "Post", new { id = postDto.ID }, null)
			
			@*			nejsom prihlaseny*@
			@if (postDto.Sender.ID == 1)
			{
				@Html.ActionLink("Delete", "Delete", "Post", new { id = postDto.ID }, null)
				@Html.ActionLink("Edit", "Edit", "Post", new { id = postDto.ID }, null)
			}
		</div>
	}
</div>
